<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">Доставка готовой еды <br> из фермерских <br> продуктов!</h1>
      <img loading="lazy" src="img/svg/point.svg" class="hero__points" width="184px" height="184px" alt="Много точек">
      <a href="tel:+74998416729" class="hero__phone">+7 (499) 841-67-29</a>
      <a href="mailto:delivery@midas.rest" class="hero__mail ">delivery@midas.rest</a>
      <img src="img/steak.jpg" alt="Стейк" class="hero__img">
      <img src="img/union.png" alt="Много точекы" class="hero__many-points">
      <div class="product-card">
        <div class="product-card__content">
          <h2 class="product-card__title">Стейк из лосося<br>с овощами</h2>
          <div class="product-card__weight">250 г</div>
          <p class="product-card__description">
            Нежный стейк дикого лосося, пропитанный соком<br>и ароматом слегка обжаренных фермерских овощей
          </p>
        </div>
        <div class="product-card__pricing-and-cart">
          <div class="product-card__price">1 200 ₽</div>
          <button class="product-card__cart-btn" aria-label="Добавить в корзину">
            <svg width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.44457 25L1.6327 13.8197H0V7.50297H6.22844L9.2822 0L11.0358 0.682088L8.2542 7.53262H18.6853L15.9339 0.682088L17.6876 0L20.7413 7.50297H26.9698V13.8197H25.3371L22.5252 25H4.44457ZM21.0739 23.1613L23.4323 13.8493H3.56775L5.92609 23.1613H21.0739ZM25.0952 11.981V9.40095H1.90482V11.981H25.0952Z" fill="black"/>
              <path d="M14.4523 15.3914H12.5475V22.064H14.4523V15.3914Z" fill="black"/>
              <path d="M18.0806 15.3914H16.1758V22.064H18.0806V15.3914Z" fill="black"/>
              <path d="M10.8242 15.3914H8.91936V22.064H10.8242V15.3914Z" fill="black"/>
              </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
