<section class="popular">
  <div class="container">
    <h2 class="popular__title">Популярные блюда</h2>
    <div class="many-cards">
      <div class="card">
        <div class="card__top">
          <a href="#" class="card__image">
            <img src="img/khachapuri_in_Adjarian.png" alt="Хачапури по аджарски">
          </a>
        </div>
          <div class="card__name">Хачапури по аджарски</div>
          <div class="card__weight">430 г</div>
          <div class="card__description">Хачапури "Лодочка" с начинкой из расплавленного сыра сулугуни, яйца и масла.</div>
          <div class="card__content">
          <div class="card__price">470 ₽</div>
          <button class="product-card__cart-btn "  aria-label="Добавить в корзину">
            <svg width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.44457 25L1.6327 13.8197H0V7.50297H6.22844L9.2822 0L11.0358 0.682088L8.2542 7.53262H18.6853L15.9339 0.682088L17.6876 0L20.7413 7.50297H26.9698V13.8197H25.3371L22.5252 25H4.44457ZM21.0739 23.1613L23.4323 13.8493H3.56775L5.92609 23.1613H21.0739ZM25.0952 11.981V9.40095H1.90482V11.981H25.0952Z" fill="black"/>
              <path d="M14.4523 15.3914H12.5475V22.064H14.4523V15.3914Z" fill="black"/>
              <path d="M18.0806 15.3914H16.1758V22.064H18.0806V15.3914Z" fill="black"/>
              <path d="M10.8242 15.3914H8.91936V22.064H10.8242V15.3914Z" fill="black"/>
              </svg>
          </button>
        </div>
      </div>
      <div class="card">
        <div class="card__top">
          <a href="#" class="card__image">
            <img src="img/khinkali.png" alt="Хачапури по аджарски">
          </a>
        </div>
          <div class="card__name">Хинкали традиционные (6шт)</div>
          <div class="card__weight">350 г</div>
          <div class="card__description">Пряные хинкали с начинкой из ароматной баранины со специями.</div>
          <div class="card__content">
          <div class="card__price-original">620 ₽</div>
          <div class="card__price card__price-current">470 ₽</div>
          <button class="product-card__cart-btn"  aria-label="Добавить в корзину">
            <svg width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.44457 25L1.6327 13.8197H0V7.50297H6.22844L9.2822 0L11.0358 0.682088L8.2542 7.53262H18.6853L15.9339 0.682088L17.6876 0L20.7413 7.50297H26.9698V13.8197H25.3371L22.5252 25H4.44457ZM21.0739 23.1613L23.4323 13.8493H3.56775L5.92609 23.1613H21.0739ZM25.0952 11.981V9.40095H1.90482V11.981H25.0952Z" fill="black"/>
              <path d="M14.4523 15.3914H12.5475V22.064H14.4523V15.3914Z" fill="black"/>
              <path d="M18.0806 15.3914H16.1758V22.064H18.0806V15.3914Z" fill="black"/>
              <path d="M10.8242 15.3914H8.91936V22.064H10.8242V15.3914Z" fill="black"/>
              </svg>
          </button>
        </div>
      </div>
      <div class="card">
        <div class="card__top">
          <a href="#" class="card__image">
            <img src="img/khinkali_hot.png" alt="Хачапури по аджарски">
          </a>
        </div>
          <div class="card__name">Хинкали жаренные (6шт)</div>
          <div class="card__weight">350 г</div>
          <div class="card__description">Пряные хинкали с начинкой из ароматной баранины со специями.</div>
          <div class="card__content">
          <div class="card__price-original">650 ₽</div>
          <div class="card__price card__price-current">520 ₽</div>
          <button class="product-card__cart-btn "  aria-label="Добавить в корзину">
            <svg width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.44457 25L1.6327 13.8197H0V7.50297H6.22844L9.2822 0L11.0358 0.682088L8.2542 7.53262H18.6853L15.9339 0.682088L17.6876 0L20.7413 7.50297H26.9698V13.8197H25.3371L22.5252 25H4.44457ZM21.0739 23.1613L23.4323 13.8493H3.56775L5.92609 23.1613H21.0739ZM25.0952 11.981V9.40095H1.90482V11.981H25.0952Z" fill="black"/>
              <path d="M14.4523 15.3914H12.5475V22.064H14.4523V15.3914Z" fill="black"/>
              <path d="M18.0806 15.3914H16.1758V22.064H18.0806V15.3914Z" fill="black"/>
              <path d="M10.8242 15.3914H8.91936V22.064H10.8242V15.3914Z" fill="black"/>
              </svg>
          </button>
        </div>
      </div>
      <div class="card">
        <div class="card__top">
          <a href="#" class="card__image">
            <img src="img/caesar.png" alt="Цезарь">
          </a>
        </div>
          <div class="card__name">Цезарь с курицей</div>
          <div class="card__weight">200 г</div>
          <div class="card__description">Доведенное до совершенства сочетание фермерской курочки, с салатом романо...</div>
          <div class="card__content">
            <div class="card__price-original">670 ₽</div>
            <div class="card__price card__price-current">525 ₽</div>
            <button class="product-card__cart-btn "  aria-label="Добавить в корзину">
              <svg width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.44457 25L1.6327 13.8197H0V7.50297H6.22844L9.2822 0L11.0358 0.682088L8.2542 7.53262H18.6853L15.9339 0.682088L17.6876 0L20.7413 7.50297H26.9698V13.8197H25.3371L22.5252 25H4.44457ZM21.0739 23.1613L23.4323 13.8493H3.56775L5.92609 23.1613H21.0739ZM25.0952 11.981V9.40095H1.90482V11.981H25.0952Z" fill="black"/>
                <path d="M14.4523 15.3914H12.5475V22.064H14.4523V15.3914Z" fill="black"/>
                <path d="M18.0806 15.3914H16.1758V22.064H18.0806V15.3914Z" fill="black"/>
                <path d="M10.8242 15.3914H8.91936V22.064H10.8242V15.3914Z" fill="black"/>
                </svg>
            </button>
        </div>
      </div>
      <div class="card">
        <div class="card__top">
          <a href="#" class="card__image">
            <img src="img/Lobiani.png" alt="Лобиани">
          </a>
        </div>
          <div class="card__name">Лобиани</div>
          <div class="card__weight">450 г</div>
          <div class="card__description">Невозможно вкусно: закрытый пирог из фирменного теста и красной фасоли.</div>
          <div class="card__content">
          <div class="card__price">400 ₽</div>
          <button class="product-card__cart-btn "  aria-label="Добавить в корзину">
            <svg width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.44457 25L1.6327 13.8197H0V7.50297H6.22844L9.2822 0L11.0358 0.682088L8.2542 7.53262H18.6853L15.9339 0.682088L17.6876 0L20.7413 7.50297H26.9698V13.8197H25.3371L22.5252 25H4.44457ZM21.0739 23.1613L23.4323 13.8493H3.56775L5.92609 23.1613H21.0739ZM25.0952 11.981V9.40095H1.90482V11.981H25.0952Z" fill="black"/>
              <path d="M14.4523 15.3914H12.5475V22.064H14.4523V15.3914Z" fill="black"/>
              <path d="M18.0806 15.3914H16.1758V22.064H18.0806V15.3914Z" fill="black"/>
              <path d="M10.8242 15.3914H8.91936V22.064H10.8242V15.3914Z" fill="black"/>
              </svg>
          </button>
        </div>
      </div>
      <div class="card">
        <div class="card__top">
          <a href="#" class="card__image">
            <img src="img/Hamburger-patty_with_potatoes_in_a_rustic_way.png" alt="Котлета с картофелем по-деревенски">
          </a>
        </div>
          <div class="card__name">Котлета с картофелем по-деревенски</div>
          <div class="card__weight">350 г</div>
          <div class="card__description">По семейному рецепту: нежнейшее рубленное мясо с экологически чистыми ферме...</div>
          <div class="card__content">
            <div class="card__price-original card__price-original-from">410 ₽ –</div>
            <div class="card__price card__price-current">430 ₽</div>
            <a href="#" class="card__link" aria-label="Выбрать 3 вида">3 вида</a>
        </div>
      </div>
      <div class="card">
        <div class="card__top">
          <a href="#" class="card__image">
            <img src="img/borsch.png" alt="Борщ">
          </a>
        </div>
          <div class="card__name">Борщ</div>
          <div class="card__weight">350 г</div>
          <div class="card__description">Хачапури "Лодочка" с начинкой из расплавленного сыра сулугуни, яйца и масла.</div>
          <div class="card__content">
            <div class="card__price-original">620 ₽</div>
            <div class="card__price card__price-current">495 ₽</div>
          <button class="product-card__cart-btn"  aria-label="Добавить в корзину">
            <svg width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.44457 25L1.6327 13.8197H0V7.50297H6.22844L9.2822 0L11.0358 0.682088L8.2542 7.53262H18.6853L15.9339 0.682088L17.6876 0L20.7413 7.50297H26.9698V13.8197H25.3371L22.5252 25H4.44457ZM21.0739 23.1613L23.4323 13.8493H3.56775L5.92609 23.1613H21.0739ZM25.0952 11.981V9.40095H1.90482V11.981H25.0952Z" fill="black"/>
              <path d="M14.4523 15.3914H12.5475V22.064H14.4523V15.3914Z" fill="black"/>
              <path d="M18.0806 15.3914H16.1758V22.064H18.0806V15.3914Z" fill="black"/>
              <path d="M10.8242 15.3914H8.91936V22.064H10.8242V15.3914Z" fill="black"/>
              </svg>
          </button>
        </div>
      </div>
      <div class="card">
        <div class="card__top">
          <a href="#" class="card__image">
            <img src="img/cheburek.png" alt="Чебурек">
          </a>
        </div>
          <div class="card__name">Чебурек с мясом</div>
          <div class="card__weight">150 г</div>
          <div class="card__description">Сочная, хрустящая лепешка из фирменного теста, с начинкой из фермерской говядины.</div>
          <div class="card__content">
          <div class="card__price">340 ₽</div>
          <button class="product-card__cart-btn"  aria-label="Добавить в корзину">
            <svg width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.44457 25L1.6327 13.8197H0V7.50297H6.22844L9.2822 0L11.0358 0.682088L8.2542 7.53262H18.6853L15.9339 0.682088L17.6876 0L20.7413 7.50297H26.9698V13.8197H25.3371L22.5252 25H4.44457ZM21.0739 23.1613L23.4323 13.8493H3.56775L5.92609 23.1613H21.0739ZM25.0952 11.981V9.40095H1.90482V11.981H25.0952Z" fill="black"/>
              <path d="M14.4523 15.3914H12.5475V22.064H14.4523V15.3914Z" fill="black"/>
              <path d="M18.0806 15.3914H16.1758V22.064H18.0806V15.3914Z" fill="black"/>
              <path d="M10.8242 15.3914H8.91936V22.064H10.8242V15.3914Z" fill="black"/>
              </svg>
          </button>
        </div>
      </div>
      <div class="card">
        <div class="card__top">
          <a href="#" class="card__image">
            <img src="img/Khachapuri_with_spinach_and_herbs.png" alt="Хачапури со шпинатом и травами">
          </a>
        </div>
          <div class="card__name">Хачапури с травами и шпинатом</div>
          <div class="card__weight">500 г</div>
          <div class="card__description">Невероятно ароматная лепёшка с сыром сулугуни внутри и снаружи.</div>
          <div class="card__content">
          <div class="card__price">445 ₽</div>
          <button class="product-card__cart-btn"  aria-label="Добавить в корзину">
            <svg width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.44457 25L1.6327 13.8197H0V7.50297H6.22844L9.2822 0L11.0358 0.682088L8.2542 7.53262H18.6853L15.9339 0.682088L17.6876 0L20.7413 7.50297H26.9698V13.8197H25.3371L22.5252 25H4.44457ZM21.0739 23.1613L23.4323 13.8493H3.56775L5.92609 23.1613H21.0739ZM25.0952 11.981V9.40095H1.90482V11.981H25.0952Z" fill="black"/>
              <path d="M14.4523 15.3914H12.5475V22.064H14.4523V15.3914Z" fill="black"/>
              <path d="M18.0806 15.3914H16.1758V22.064H18.0806V15.3914Z" fill="black"/>
              <path d="M10.8242 15.3914H8.91936V22.064H10.8242V15.3914Z" fill="black"/>
              </svg>
          </button>
        </div>
      </div>
      <div class="card">
        <div class="card__top">
          <a href="#" class="card__image">
            <img src="img/Salmon_rolls.png" alt="Рулетики с сёмгой">
          </a>
        </div>
          <div class="card__name">Рулетики с сёмгой</div>
          <div class="card__weight">150 г</div>
          <div class="card__description">Классическое сочетание слабосоленой сёмги, сливочного сыра Маскарпоне и ...</div>
          <div class="card__content">
            <div class="card__price">535 ₽</div>
            <button class="product-card__cart-btn"  aria-label="Добавить в корзину">
              <svg width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.44457 25L1.6327 13.8197H0V7.50297H6.22844L9.2822 0L11.0358 0.682088L8.2542 7.53262H18.6853L15.9339 0.682088L17.6876 0L20.7413 7.50297H26.9698V13.8197H25.3371L22.5252 25H4.44457ZM21.0739 23.1613L23.4323 13.8493H3.56775L5.92609 23.1613H21.0739ZM25.0952 11.981V9.40095H1.90482V11.981H25.0952Z" fill="black"/>
                <path d="M14.4523 15.3914H12.5475V22.064H14.4523V15.3914Z" fill="black"/>
                <path d="M18.0806 15.3914H16.1758V22.064H18.0806V15.3914Z" fill="black"/>
                <path d="M10.8242 15.3914H8.91936V22.064H10.8242V15.3914Z" fill="black"/>
                </svg>
            </button>
          </div>
      </div>
      <div class="card">
        <div class="card__top">
          <a href="#" class="card__image">
            <img src="img/pie.png" alt="Мясной пирог">
          </a>
        </div>
          <div class="card__name">Мясной пирог</div>
          <div class="card__weight">430 г</div>
          <div class="card__description">Невероятно ароматный и насыщенный вкус рубленой телятины.</div>
          <div class="card__content">
          <div class="card__price">470 ₽</div>
          <button class="product-card__cart-btn"  aria-label="Добавить в корзину">
            <svg width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.44457 25L1.6327 13.8197H0V7.50297H6.22844L9.2822 0L11.0358 0.682088L8.2542 7.53262H18.6853L15.9339 0.682088L17.6876 0L20.7413 7.50297H26.9698V13.8197H25.3371L22.5252 25H4.44457ZM21.0739 23.1613L23.4323 13.8493H3.56775L5.92609 23.1613H21.0739ZM25.0952 11.981V9.40095H1.90482V11.981H25.0952Z" fill="black"/>
              <path d="M14.4523 15.3914H12.5475V22.064H14.4523V15.3914Z" fill="black"/>
              <path d="M18.0806 15.3914H16.1758V22.064H18.0806V15.3914Z" fill="black"/>
              <path d="M10.8242 15.3914H8.91936V22.064H10.8242V15.3914Z" fill="black"/>
              </svg>
          </button>
        </div>
      </div>
      <div class="card">
        <div class="card__top">
          <a href="#" class="card__image">
            <img src="img/khachapuri_in_Adjarian.png" alt="Хачапури по аджарски">
          </a>
        </div>
          <div class="card__name">Хачапури по аджарски</div>
          <div class="card__weight">430 г</div>
          <div class="card__description">Хачапури "Лодочка" с начинкой из расплавленного сыра сулугуни, яйца и масла.</div>
          <div class="card__content">
          <div class="card__price">470 ₽</div>
          <button class="product-card__cart-btn"  aria-label="Добавить в корзину">
            <svg width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.44457 25L1.6327 13.8197H0V7.50297H6.22844L9.2822 0L11.0358 0.682088L8.2542 7.53262H18.6853L15.9339 0.682088L17.6876 0L20.7413 7.50297H26.9698V13.8197H25.3371L22.5252 25H4.44457ZM21.0739 23.1613L23.4323 13.8493H3.56775L5.92609 23.1613H21.0739ZM25.0952 11.981V9.40095H1.90482V11.981H25.0952Z" fill="black"/>
              <path d="M14.4523 15.3914H12.5475V22.064H14.4523V15.3914Z" fill="black"/>
              <path d="M18.0806 15.3914H16.1758V22.064H18.0806V15.3914Z" fill="black"/>
              <path d="M10.8242 15.3914H8.91936V22.064H10.8242V15.3914Z" fill="black"/>
              </svg>
          </button>
        </div>
      </div>
  </div>
  </div>
</section>
